<app-header title="{{ title }}"></app-header>

<div *ngIf="filteredPeople.length === 0" class="spinner-container">
  <div class="spinner-border text-primary"></div>
</div>

<div id="people" class="container-fluid h-100" *ngIf="filteredPeople">
  <div id="peopleListContainer" class="row">
    <div class="col-sm-12 col-md-4">
      <input
        type="text"
        class="col-12 form-control input-lg"
        placeholder="Search"
        [(ngModel)]="searchValue"
      />
      <div
        id="characterList"
        class="list-scroll-container w-100"
      >
        <div class="list-group w-100">
          <a
            *ngFor="let person of filteredPeople; let i = index"                        
            [class.active]="selectedIndex === i"
            (click)="activateClass(i)"
            data-toggle="modal"
            data-backdrop="true"
            href="#collapse-{{i}}"
            class="list-group-item list-group-item-action list-group-item-primary"
            role="button"            
            >{{ person.name }}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div
        *ngFor="let person of filteredPeople; let k = index"
        class="modal fade"
        id="collapse-{{k}}"
        role="dialog"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-person
                name="{{ person.name }}"
                birth_year="{{ person.birth_year }}"
                gender="{{ person.gender }}"
                height="{{ person.height }}"
                mass="{{ person.mass }}"
                homeworld="{{ person.homeworld }}"
              ></app-person>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
